node_modules
# Keep environment variables out of version control
.env
/src/generated/prisma
node_modules/
.env
.env.local
.env.*.local
.DS_Store
.next/
# dist/ - commented out to include built files for deployment
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vscode/
.idea/
/.parcel-cache/
/.turbo/
/.vercel/
/.history/
*.tgz
pnpm-lock.yaml
package-lock.json
/.cache/
/.serverless/
/.bundle/
